* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --cor-de-fundo: #dadada;
  --cor-de-fundo-card: linear-gradient(
    135deg,
    rgb(46, 98, 146) 0%,
    rgb(28, 103, 133) 28%,
    rgb(123, 182, 207) 100%
  );
  --cor-de-fundo-botao: #1a1a1a;

  --cor-texto: #fff;
  --cor-texto-atencao: #c70000;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", serif;
  font-size: 1rem;
  color: var(--cor-texto);
  width: 100vw;
  height: 100vh;
  cursor: default;
  animation: pulsar 18s infinite;
  opacity: 1;
  transform: translateY(0);
}

@keyframes pulsar {
  0% {
    background-color: #ffffff;
  }

  25% {
    background-color: #6d6c6c;
  }

  50% {
    background-color: #141414;
  }

  100% {
    background-color: #ffffff;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  animation: fade-in 0.25s ease-in;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
}

main .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  background: var(--cor-de-fundo-card);
  padding: 1rem;
  width: 50%;
  border-radius: 0.4rem 2rem;
  -webkit-box-shadow: 9px 10px 11px 0px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 9px 10px 11px 0px rgba(0, 0, 0, 0.47);
  box-shadow: 9px 10px 11px 0px rgba(0, 0, 0, 0.47);
}

main .card .formulario-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

main .card .formulario-login #usuario,
main .card .formulario-login #senha {
  border: none;
  border-radius: 0.4rem;
  padding: 0.5rem;
  width: 100%;
  background-repeat: no-repeat;
  padding-left: 2rem;
  background-size: 30px;
  outline-color: #ffffff;
  outline-offset: 0.2rem;
  cursor:pointer;

  &::placeholder {
    color: #414141;
    font-family: "Poppins", serif;
    font-size: 0.8rem;
  }
}

main .card .formulario-login #usuario {
  background-image: url("../icons/usuario.png");
}

main .card .formulario-login #senha {
  background-image: url("../icons/cadeado.png");
}

main .card .formulario-login #btn-enviar {
  border: none;
  border-radius: 0.4rem;
  padding: 0.5rem;
  background-color: var(--cor-de-fundo-botao);
  font-family: "Poppins", serif;
  font-weight: 600;
  margin-top: 1rem;
  cursor: pointer;
  width: 50%;
  color: var(--cor-texto);
  transition: transform 0.1s;
}

main .card .formulario-login #btn-enviar:hover {
  transform: scale(1.1);
}

main .card .formulario-login #btn-enviar:active {
  background-color: #000;
  transform: scale(1);
}

main .card h2 {
  color: var(--cor-texto-atencao);
}
